{% extends 'base.html.twig' %}


{% block content %}
    {% include 'card.html.twig' %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <h2 style="color: red; margin-top: 20px;">Welkom bij Trainigs Centrum Den-Haag</h2>
            <p>Den haag Training center is een sportschool waar onder professionele begeleiding
                in een veilige omgeving verschillende soorten material arts-,indoor bootcamp,
                personal- en small groups taining worden aageboden. Hier kan je je inschrijven
                op een les of uitschrijven op een les.</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

{% endblock %}
