{% extends 'base.html.twig' %}


{% block content %}

    <h3>Lid worden</h3>
    <p>Om gebruik te kunnen maken van de lessen moet je ons bekend zijn. <br> vul hieronder alle gegevens in en registreer jezelf.</p>
    {{ include('user/_form.html.twig') }}
{% endblock %}
