{% extends 'base.html.twig' %}


{% block content %}

    <br>
    <h1>1. Probeer niet te staren</h1>
    <br>
    <p>In iedere sportschool komen mensen die – op zijn zachts gezegd – nogal de aandacht trekken, positief of negatief.
        Hoe verleidelijk het ook is, staar niet. De sportschool is een tweede thuis voor iedereen en dat betekent dat je
        je daar op je gemak moet voelen. Aangestaard worden helpt daar niet echt bij, dus staar niet en richt je op je
        eigen workout.</p>
    <br><br>
    <h1>2. Ruim alles op</h1>
    <br>
    <p>Net als thuis, hoor je in de sportschool ook alles netjes op te ruimen. We weten allemaal uit eigen ervaring hoe
        irritant het is als we lang moeten zoeken naar het juiste setje dumbells of het chille springtouw, omdat iemand
        zijn shit niet heeft opgeruimd. Wees niet die persoon en leg alles terug als klaar bent met trainen.</p>
    <br><br>
    <h1>3. Ga niet niksen op een apparaat</h1>
    <br>
    <p>Niet dat er iets mis is met een beetje niksen, maar doe dit niet op de apparaten. Even Instagram of Facebook
        checken moet kunnen, alleen doe dit aan de zijkant. Waarschijnlijk – zeker in de spits – wachten er mensen op
        jouw apparaat en dan is het nogal cocky om relaxed te gaan zitten scrollen. Again, wees niet die persoon.</p>
    <br><br>
    <h1>4. Het is geen theekransje</h1>
    <br>
    <p>Sporten met een vriend(in) is heel gezellig, vaak té gezellig. Jullie bespreken van alles en nog wat, daardoor
        schiet het fanatieke sporten er vaak bij in. Een beetje gezelligheid is niet erg, maar pas op met het soort
        gesprekken dat je voert en het volume dat je aanhoudt. Je leidt andere sporters namelijk af met jullie
        roddel-sessie en het haalt iedereen uit zijn concentratie.</p>
    <br><br>
    <h1>5. Appraten reserveren is een no go</h1>
    <br>
    <p>Er bestaat een tactiek waarbij mensen zo snel mogelijk alle apparaten afwerken om binnen no time klaar te zijn
        met sporten. Dit houdt in dat ze daarvoor apparaten ‘reserveren’ door hun handdoekje erop te leggen. Niet oké.
        Dit is niet eerlijk, want er zijn genoeg mensen die ook dat apparaat willen gebruiken. Als je zo efficiënt
        mogelijk wil sporten, raden wij je aan om in de gaten te houden welke apparaten er vrijkomen en je hierop aan te
        passen.</p>

{% endblock %}
