{% extends 'base.html.twig' %}


{% block content %}
    {% include 'card.html.twig' %}
    <br>

    <div class="row">
        <div class="col-md-2">
            <img class="img-fluid rounded " src="{{ asset('images/stootzak.png') }}" alt="">
        </div>
        <div class="col-sm-5">
            <div class="row align-items-center" style="height: 50%">
                <div class="col">
                    <h2>Stootzak training</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <img class="img-fluid rounded " src="{{ asset('images/kickboxen.png') }}" alt="">
        </div>
        <div class="col-sm-5">
            <div class="row align-items-center" style="height: 50%">
                <div class="col">
                    <h2>KickBoksen</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <img class="img-fluid rounded " src="{{ asset('images/mmatraining.png') }}" alt="">
        </div>
        <div class="col-sm-5">
            <div class="row align-items-center" style="height: 50%">
                <div class="col">
                    <h2>MMA</h2>
                </div>
            </div>

        </div>
    </div>



{% endblock %}
