{% extends 'base.html.twig' %}


{% block content %}
    <br>

    {% for training in trainings %}
        <div class="row">
            <div class="col-md-2">
                <img class="img-fluid rounded " src="{{ asset('uploads/brochures/' ~ training.BrochureFilename) }}" alt="">
            </div>
            <div class="col-sm-5">
                <div class="row align-items-center" style="height: 50%">
                    <div class="col">
                        <h2>{{ training.naam }}</h2>
                        <p class="d-inline">{{ training.description }};</p>
                        <p class="d-inline"> Duur: {{ training.duration ? training.duration|date('H:i') : '' }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% else %}
        <tr>
            <td colspan="6">Geen Trainingen gevonden</td>
        </tr>
    {% endfor %}




{% endblock %}
