{% extends 'base.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block content %}
    <h1>Edit Lesson</h1>

    {% if app.user.id == lesson.instructeur.id %}
        {{ include('lesson/_form.html.twig', {'button_label': 'Update'}) }}
    {% endif %}
{% endblock %}
