{% set accountstatus = true %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Training Factory{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
              integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    {% if app.user %}
        {% if app.user.status == false %}
            {% set accountstatus = false %}
            <h1>Uw account is uit geschakeld login uit:</h1>
            <a class="btn btn-success" href="/logout">Uitloggen</a>
        {% endif %}
    {% endif %}
{% if accountstatus == true %}
    {% block body %}
        <div style="margin-left: 2%; margin-right: 2%;">
            {% include 'nav.html.twig' %}
            {% block header %}{% endblock %}
            <div class="container" style="padding-top: 15px; padding-bottom: 15px;">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block footer %}
            <footer id="sticky-footer" class="py-4 text-white-50" style="background-color: #192a56; margin-left: 2%; margin-right: 2%;">
                <div class="container text-center">
                    <h3 style="color: red">Training Center Den Haag - 010 519 0532</h3>
                    <small>developed bij FastDevelopment</small>
                </div>
            </footer>
        {% endblock %}
    {% endblock %}
{% endif %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
            integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
            crossorigin="anonymous"></script>
{% endblock %}
</body>

</html>
