<div class="d-flex">
    <div class="p-2 d-none d-sm-none d-md-block">
        <img class="rounded" style="width: 200px;" src="{{ asset('images/kickboxing.png') }}">
    </div>
    <div class="p-2">
        <h1 style="color: red; font: 3rem 'Bauhaus 93'" class="d-none d-sm-block">Training Centrum <br> Den Haag
        </h1>
        <h1 style="color: red; font: 2rem 'Bauhaus 93'" class="d-block d-sm-none">Training Centrum <br> Den Haag
        </h1>
    </div>
    {% if app.user %}
        <form class="p-2 ml-auto text-danger" style="text-align: right">
            <h4>Je bent ingelogt als:</h4> <div class="d-none d-sm-block"><br></div><h4> - {{ app.user.loginname }} - </h4> <div class="d-none d-sm-block"><br></div> <a type="button"
                                                                                            class="btn btn-outline-danger"
                                                                                            href="{{ path('app_logout') }}">Uitloggen</a>
        </form>
    {% else %}
        <form class="p-2 ml-auto text-danger" style="text-align: right">
            <h4>U kunt hier klikken </h4> <div class="d-none d-sm-block"><br></div>  <h4>om te inloggen</h4><div class="d-none d-sm-block"><br></div>
            <a type="button" href="/login" class="btn btn-outline-danger">Inloggen</a>
        </form>
    {% endif %}
</div>
<nav class="navbar navbar-expand-md navbar-light border-top border-bottom border-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
{#            <li class="nav-item" {% if app.request.get('_route') == 'home' %} style="font-weight: bold" {% endif %}>#}
{#                <a class="nav-link text-danger" {% if app.request.get('_route') != 'home' %} href="/" {% endif %}>Home</a>#}
{#            </li>#}
{#            <li class="nav-item" {% if app.request.get('_route') == 'trainingaanbod' %} style="font-weight: bold" {% endif %}>#}
{#                <a class="nav-link text-danger" {% if app.request.get('_route') != 'trainingaanbod' %} href="/trainingaanbod" {% endif %}>training#}
{#                    Aanbod</a>#}
{#            </li>#}
{#            <li class="nav-item" {% if app.request.get('_route') == 'contact' %} style="font-weight: bold" {% endif %}>#}
{#                <a class="nav-link text-danger" {% if app.request.get('_route') != 'contact' %} href="/contact" {% endif %}>Contact info</a>#}
{#            </li>#}
{#            <li class="nav-item" {% if app.request.get('_route') == 'inschrijven' %} style="font-weight: bold" {% endif %}>#}
{#                <a class="nav-link text-danger" {% if app.request.get('_route') != 'inschrijven' %} href="/inschrijven" {% endif %}>Inschrijven#}
{#                    op les </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link text-danger" href="#">Gegevens lid wijzigen</a>#}
{#            </li>#}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link text-danger"
                       href="/admin/" {% if app.request.get('_route') == 'adminhome' %} style="font-weight: bold" {% endif %}>
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger"
                       href="/admin/user/instructeurs" {% if app.request.get('_route') == 'instructeurs' %} style="font-weight: bold" {% endif %}>
                        Instructeurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger"
                       href="/admin/user/gebruikers" {% if app.request.get('_route') == 'user_index' %} style="font-weight: bold" {% endif %}>
                        Leden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger"
                       href="/admin/training" {% if app.request.get('_route') == 'training_index' %} style="font-weight: bold" {% endif %}>
                        Trainingen</a>
                </li>
            {% elseif is_granted('ROLE_INSTRUCTEUR') %}
                <li class="nav-item">
                    <a class="nav-link text-danger"
                       href="/instructeur/" {% if app.request.get('_route') == 'instructeurhome' %} style="font-weight: bold" {% endif %}>
                        Home</a>
                </li>
                <li class="nav-item text-danger">
                    <a class="nav-link text-danger"
                       href="/instructeur/lessen/" {% if app.request.get('_route') == 'lesson_index' %} style="font-weight: bold" {% endif %}>
                        Lessen</a>
                </li>
                <li class="nav-item text-danger">
                    <a class="nav-link text-danger"
                       href="#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                        Overzicht inschrijven</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger"
                       href="#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                        Gegevens lid wijzigen</a>
                </li>
            {% elseif is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link text-danger"
                       href="/user/" {% if app.request.get('_route') == 'userhome' %} style="font-weight: bold" {% endif %}>
                        Home</a>
                </li>
                <li class="nav-item text-danger">
                    <a class="nav-link text-danger"
                       href="/user/inschrijven" {% if app.request.get('_route') == 'userinschrijven' %} style="font-weight: bold" {% endif %}>
                        Inschrijven op les</a>
                </li>
                <li class="nav-item text-danger">
                    <a class="nav-link text-danger"
                       href="#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                        Overzicht inschrijven</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger"
                       href="/user/{{ app.user.id }}/edit" {% if app.request.get('_route') == 'useruser_edit' %} style="font-weight: bold" {% endif %}>
                        Gegevens lid wijzigen</a>
                </li>
            {% else %}
                <li class="nav-item" {% if app.request.get('_route') == 'home' %} style="font-weight: bold" {% endif %}>
                    <a class="nav-link text-danger" {% if app.request.get('_route') != 'home' %} href="/" {% endif %}>Home</a>
                </li>
                <li class="nav-item" {% if app.request.get('_route') == 'trainingaanbod' %} style="font-weight: bold" {% endif %}>
                    <a class="nav-link text-danger" {% if app.request.get('_route') != 'trainingaanbod' %} href="/trainingaanbod" {% endif %}>Training Aanbod</a>
                </li>
                <li class="nav-item" {% if app.request.get('_route') == 'lidworden' %} style="font-weight: bold" {% endif %}>
                    <a class="nav-link text-danger" {% if app.request.get('_route') != 'lidworden' %} href="/lidworden" {% endif %}>Lid worden</a>
                </li>
                <li class="nav-item" {% if app.request.get('_route') == 'regels' %} style="font-weight: bold" {% endif %}>
                    <a class="nav-link text-danger" {% if app.request.get('_route') != 'regels' %} href="/regels" {% endif %}>Gedragsregels</a>
                </li>
                <li class="nav-item" {% if app.request.get('_route') == 'contact' %} style="font-weight: bold" {% endif %}>
                    <a class="nav-link text-danger" {% if app.request.get('_route') != 'contact' %} href="/contact" {% endif %}>Lockatie & contact</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
