{% extends 'base.html.twig' %}

{% block title %}Edit Training{% endblock %}

{% block content %}
    <h1>Training Aanpassen</h1>
    {{ include('training/_form.html.twig', {'button_label': 'Update'}) }}
    {#{{ include('training/_delete_form.html.twig') }}#}
{% endblock %}
