{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Edit Gebruiker</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
